h1 {
    text-align: center;
}

.exploreimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.box {
    padding-left: 10px;
    margin: 10px;
    border-style: solid;
    width: 10%;
    border-width: 2px;
}

/* add secomd column */

.tutorial {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.mortemdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.banhammerdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.zjokardis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.nuofdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.efrirdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.afwregdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.sadghostdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.angryghostdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.golemdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.nenhertdis {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.fight {
    position: relative;
    text-align: center;
}

.storeitems {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background: #e4e4e4;
    text-align: center;
}

.exploretitle {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#exploretexts {
    border-style: solid;
    border-width: 0.5px;
    border-color: (#e4e4e4);
    position: relative;
    text-align: center;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#exploretextss {
    position: relative;
    text-align: center;
}

#exploretimer {
    text-align: center;
}

progress {
    text-align: center;
}

#health::after {
    content: attr(value)'/1000';
}

#npchealth::after {
    content: attr(value)'/1000';
}

#exp::after {
    content: attr(value)'/100';
}

.medium {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#udead {
    margin-left: auto;
    margin-right: auto;
}
#dead {
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 25px;
}
#playerlevel {
    width: 10%;
}
#playergold {
    width: 10%;
}